/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --rec-color: #FF0070;
  --detail-color: #FF0070;
  --header-text-color: #DB00FF;
  --main-color: #000028;
  --main-text-color: #000028;
  --paragraph-color: #F1B2CE;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url('../images/cover-image-dark.png');
    --accent-color: #FF0070;
    --rec-color: #FF0070;
    --detail-color: #FF0070;
    --header-text-color: #DB00FF;
    --main-color: #000028;
    --main-text-color: #000028;
    --paragraph-color: #F1B2CE; 
  }
}